# /etc/mcollective/policies/service.policy
# Admins can do anything
# acme-devs can do anything to acme devservers
# acme-devs can do status and restart on any acme box
policy default allow
